body {
  background-color: #F5F8FA;
  font-family: 'Open Sans', sans-serif;
}

/*#ui-datepicker-div {
  position: relative;

  right: 100px;
}*/

.btn-info{
  display: inline-block;
}


.checkBox {
  text-align: center;

}

.panel-heading {
  display: inline-block;
}

.panel-body {
  text-align: center;
}

.logo {
  
  height: 50px;
  width:125px;

}

.toDoForm {
  width: 500px;

}

.nameSection {
  color: #7D757F;
}

.title{
  
  font-weight: bold;
}

td {
  background-color: #FFFFFF;
 
}

td:hover{
  text-decoration: underline;
}

hr{
 border-top: 1px dotted #8c8b8b;
}
